/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;

p {
  line-height: 2rem;
}

span.highlight {
    background-color: #4DB6AC;
}
</style>

.button-collapse {
  color: #ffffff;
}

.hero_title {
  /*font-family: 'Roboto Slab';*/
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: .75em;
  color: #ffffff;
  line-height: 2em;
  /*text-shadow: 2px 2px 6px #000000;*/
}

.hero_subtitle {
  /*font-family: 'Roboto';*/
  font-family: 'Work Sans';
  /*font-weight: 300;*/
  font-size: .75em;
  color: #ffffff;
  line-height: 2em;
  /*text-shadow: 2px 2px 6px #000000;*/
}

.bottom_title {
  /*font-family: 'Roboto Slab';*/
  font-family: 'Work Sans';
  font-size: 1em;
  line-height: 1;
  text-shadow: 2px 2px 6px #000000;
}

.parallax-container {
  min-height: 550px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.slab {
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: .75em;
  color: #ffffff;
  line-height: 2em;
}

.icon {
  margin: 10px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /*top: 40%;*/
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
