/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;

p {
  line-height: 2rem;
}

span.highlight {
    background-color: #4DB6AC;
}
</style>

body {
  overflow-x:hidden;
}

hr {
  width: 66%;
  border-top: 0px;
}

.button-collapse {
  color: #ffffff;
}

.card-action {
  color: #E91E63;
}

.hero_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2em;
  color: #ffffff;
  line-height: 3;
  letter-spacing: 4px;
}

.hero_subtitle {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 2em;
  line-height: 3;
}

.hero_subsubtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  line-height: 3;
  letter-spacing: 3px;
}

.bottom_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1em;
  line-height: 1;
}

.parallax-container {
  min-height: 550px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.icon {
  margin: 10px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /*top: 40%;*/
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
